#content{background-color: white;}
.root{
    background-color: #0a58ca;
}

.img-head{
    max-width: 100%;
    height: auto;
    margin-left: auto;
}

.content-head{
    margin-top: 20px;
    margin-bottom: 20px;
}

.frases{
    color: white;
}

.frases-lead-head{
    color:black;
}

.title-experience{
    margin-top: 15px;
}


.list-contact{
    list-style:none;
}
.list-contact a li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: left;
    font-size: 25px;
}

.list-contact a{
    text-decoration: none;    color: inherit;
    
}
.list-contact a:hover{
    color:  #0a58ca;
}

.skills-profile{
    margin-top: 25px;
    text-align: left;
}

.soft-skill-div{
    text-align: right;
}

.box {
    width: 50%;
    float: left;
    height: 300px;/*Altura da linha*/
}
   
.linha-vertical {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
}

.img-knowledge{
    width: 50px;
    height: 50px;
}